.nav {
    list-style-type: none;
    background-color: rgb(109, 161, 231);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav li {
float: right;
}
ul.nav li a {
display: block;
padding: 8px 16px;
color: black;
text-decoration: none;
}
ul.nav a:hover {
background-color: lightskyblue;
color: lightslategray;
}
.active {
background-color: lightskyblue;
}


.grid-container {
    display: grid;  
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: lightblue;
}

.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.image1-section {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.main-content1 {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.support-section1 {
    grid-column: 1;
    grid-row: 4;
}

.support-section2 {
    grid-column: 2;
    grid-row: 4;
}

.main-content2 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.side-nav {
    grid-column: 3;
    grid-row: 3 / span 5;
}